body {
	font-family: Arial, sans-serif;
	background: linear-gradient(135deg, #ffffff, #73cbfd);
	margin: 0;
	padding: 5px;
    }
    
    .container {
	width: 320px;
	margin: 0 auto;
	padding: 10px 5px;
	min-height: 380px; /* Default minimum height */
	max-height: none; /* Allows height to grow dynamically */
	overflow: hidden; /* Prevents unnecessary scrollbars */
	transition: height 0.3s ease; /* Smooth height transition */
    }
    
    .title {
	text-align: center;
	font-size: 18px;
	padding: 8px;
	border: 2px solid #000;
	border-radius: 10px;
	background-color: #ffffff;
	color: #000000;
	margin-bottom: 15px; /* Increased space between title and timezones */
    }
    
    .timezones {
	max-height: 450px;
	overflow-y: auto;
	margin-top: 5px; /* Extra space below title */
    }
    
    .timezone-item {
	font-size: 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	background-color: #26beff;
	margin-bottom: 5px;
	border-radius: 5px;
    }
    
    .timezone-info {
	flex: 1;
	display: flex;
	justify-content: space-between;
	align-items: center;
    }
    
    .timezone-name {
	font-weight: bold;
	text-align: left;
    }
    
    .timezone-time {
	font-weight: bold;
	text-align: right;
	margin-right: 7px;
    }
    
    .delete-btn {
	align-items: flex-end;
	padding: 3px 7px;
	background-color: #ff4d4d;
	color: #ffffff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 12px;
	font-weight: bold;
	transition: background-color 0.3s ease;
    }
    
    .delete-btn:hover {
	background-color: #e60000;
    }
    
    .add-country-btn {
	display: block;
	margin: 10px auto; 
	text-align: center;
	font-size: 15px;
	width: 55%;
	padding: 10px;
	background-color: #007acc;
	color: #ffffff;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	font-weight: bold;
	transition: background-color 0.3s ease;
    }
    
    .add-country-btn:hover {
	background-color: #005b99;
    }
    
    .modal {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #fff;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }
    
    .confirm-btn {
	margin-top: 10px;
	padding: 10px 20px;
	background: #007acc;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-weight: bold;
	transition: background-color 0.3s ease;
    }
    
    .confirm-btn:hover {
	background-color: #005b99;
    }
    